<div class="row">
    <div class="col-md-4">
        <%= image_tag @movie.movie_poster.url(:movie_show), class: "movie-show" %>
    </div>
    
    <div class="col-md-8">
        
        <div class="movie-info">
            <h2 class="movie-title"><%= @movie.title %></h2>
            <h3 class="movie-director"><%= @movie.director %></h3>
            <span class="movie-category"><%= @movie.category.name %></span>
            <h3 class="avg-rating">Średnia ocen</h3>
            <div class="average-review-rating" data-score=<%= @average_review %>></div>
            <span class="number-of-reviews">Liczba ocen: <%= @movie.reviews.count %></span>
           
            
        
            <p class="movie-desc"><%= @movie.description %></p>
        
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
        <div class="reviews">
            <h1>Komentarze</h1>
            
            <%= render @movie.reviews %>
            
            <div>
                <%= link_to "Dodaj Komentarz", new_movie_review_path(@movie), class: "btn btn-custom" %>
            </div>
        </div>
    </div>
</div>

<div class="links btn-group">
    <%= link_to "Powrót", root_path, class: "btn btn-custom" %>
    
    <% if user_signed_in? %>
        <% if @movie.user_id == current_user.id %>
            <%= link_to "Edytuj", edit_movie_path(@movie), class: "btn btn-custom" %>
            <%= link_to "Usuń", movie_path(@movie), method: :delete, data: { confirm: "Jesteś pewny, że chcesz usunąć film?"}, class: "btn btn-custom" %>
        <% end %>
    <% end %>
</div>

<script>
    $('.review-rating').raty({    
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    },
    path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>