<div class="row">
    <div class="col-md-4">
        <%= image_tag @movie.movie_poster.url(:movie_show), class: "movie-show" %>
    </div>
    
    <div class="col-md-8">
        
        <h2><%= @movie.title %></h2>
        <span><%= @movie.category.name %></span>
        <h3><%= @movie.director %></h3>
        <h2>Średnia ocen</h2>
        <div class="average-review-rating" data-score=<%= @average_review %>></div>
        <span>Liczba ocen <%= @movie.reviews.count %></span>
        <div style="height:25px"></div>
        
        <p><%= @movie.description %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
        <%= render @movie.reviews %>
        
        <div>
            <%= link_to "Dodaj Recenzje", new_movie_review_path(@movie) %>
        </div>
        
    </div>
</div>
<%= link_to "Powrót", root_path %>

<% if user_signed_in? %>
    <% if @movie.user_id == current_user.id %>
        <%= link_to "Edytuj", edit_movie_path(@movie) %>
        <%= link_to "Usuń", movie_path(@movie), method: :delete, data: { confirm: "Jesteś pewny, że chcesz usunąć film?"} %>
    <% end %>
<% end %>


<script>
    $('.review-rating').raty({    
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    },
    path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>