<h2><%= @movie.title %></h2>
<h3><%= @movie.director %></h3>
<p><%= @movie.description %></p>

<%= link_to "Powrót", root_path %>
<%= link_to "Edytu", edit_movie_path(@movie) %>
<%= link_to "Usuń", movie_path(@movie), method: :delete, data: { confirm: "Jesteś pewny, że chcesz usunąć film?"} %>